__pycache__/
.DS_Store
/Volumes/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_conversion/data/output
/hpcnfs/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_conversion/data/output
/Users/alessiochiodin/Documents/Repositories/image_registration_pipeline/image_conversion/data/output
/Volumes/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_registration/data/output
/hpcnfs/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_registration/data/output
/Users/alessiochiodin/Documents/Repositories/image_registration_pipeline/image_registration/data/output
/Volumes/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_conversion/data/tmp
/hpcnfs/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_conversion/data/tmp
/Users/alessiochiodin/Documents/Repositories/image_registration_pipeline/image_conversion/data/tmp
/Volumes/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_registration/data/tmp
/hpcnfs/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_registration/data/tmp
/Users/alessiochiodin/Documents/Repositories/image_registration_pipeline/image_registration/data/tmp
/Volumes/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_conversion/logs/io/backups
/hpcnfs/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_conversion/logs/io/backups
/Users/alessiochiodin/Documents/Repositories/image_registration_pipeline/image_conversion/logs/io/backups
/Volumes/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_registration/logs/io/backups
/hpcnfs/scratch/DIMA/chiodin/repositories/image_registration_pipeline/image_registration/logs/io/backups
/Users/alessiochiodin/Documents/Repositories/image_registration_pipeline/image_registration/logs/io/backups
