__pycache__/
/Users/alessiochiodin/Documents/Repositories/image_registration_pipeline/image_registration/data/output
/Users/alessiochiodin/Documents/Repositories/image_registration_pipeline/image_registration/logs/io/backups
