/**************************** Basic parameters ****************************/

params {
    // root_dir = "/hpcnfs"
    // root_dir = "/Voumes"
    // main_dir = "${params.root_dir}/techunits/imaging/work/ATTEND/achiodin/image_registration_pipeline"

    main_dir = "/hpcnfs/scratch/DIMA/chiodin/tests/img_reg_pipeline"
    // main_dir = "/Users/alessiochiodin/Documents/Programming/Tests/image_registration_pipeline"

    logs_dir = "${params.main_dir}/logs"
    sample_sheet_path = "${params.logs_dir}/io/sample_sheet_current.csv"
}
