/**************************** Basic parameters ****************************/

params {
    // Common directories
    root_dir = "/hpcnfs"
    // root_dir = "/Volumes"

    // main_dir = "${params.root_dir}/techunits/imaging/work/ATTEND/achiodin/image_registration_pipeline"
    // main_dir = "/Users/alessiochiodin/Documents/Programming/Tests/image_registration_pipeline"
    main_dir = "${params.root_dir}/scratch/DIMA/chiodin/tests/img_reg_pipeline"
    
    logs_dir = "${params.main_dir}/logs"
    backup_dir = "${params.logs_dir}/io/backups"
    sample_sheet_path = "${params.logs_dir}/io/sample_sheet_current.csv"
    sample_sheet_dir = "${params.logs_dir}/io/"

    // Conversion parameters
    //// Input/Output paths
    input_dir_conv = "${params.main_dir}/image_conversion/data/input"
    output_dir_conv = "${params.main_dir}/image_conversion/data/output"

    //// bftools parameters
    tilex = 512 
    tiley = 512 
    pyramid_resolutions = 3 
    pyramid_scale = 2

    // Registration parameters 
    //// Input/Output paths
    input_dir_reg = "${params.output_dir_conv}"
    output_dir_reg = "${params.main_dir}/image_registration/data/output"
    mappings_dir = "${params.main_dir}/image_registration/data/mappings"
    registered_crops_dir = "${params.main_dir}/image_registration/data/registered_crops"

    //// Parameters
    crop_width_x = 900
    crop_width_y = 900
    overlap_x = 300
    overlap_y = 300
    overlap_factor = 0.3
    auto_overlap = ""
    delete_checkpoints = ""

}
