/**************************** Basic parameters ****************************/

params {
    root_dir = "/hpcnfs"
    main_dir = "${params.root_dir}/techunits/imaging/work/ATTEND/achiodin/image_registration_pipeline"
    logs_dir = "${params.main_dir}/logs"
    sample_sheet_path = "${params.logs_dir}/io/sample_sheet.csv"
}
